<app-apps-launcher></app-apps-launcher>
<div class="fullScreen d-flex flex-column justify-content-center align-items-center bg-primary"
    (click)="onScreenClick()">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="text-white">HighScore: <img src="assets/images/apps/flappy/coin.gif">{{highScore}}</h1>
        <h1 class="text-white">Score: <img src="assets/images/apps/flappy/coin.gif">{{score}}</h1>
        <img src="assets/images/apps/flappy/player.gif" id="player" class="player">

        <!--    Line 1  -->
        <div id="tp1" class="topPipe pipe"></div>
        <div id="bp1" class="bottomPipe pipe"></div>
        <!--    Line 2  -->
        <div id="tp2" class="topPipe2 pipe"></div>
        <div id="bp2" class="bottomPipe2 pipe"></div>

        <img src="assets/images/apps/flappy/cloud.gif" class="cloud">
        <img src="assets/images/apps/flappy/bricks.jpg" class="bottomBrick">
    </div>
</div>