/*   player */
.player {
    width: 10%;
    position: fixed;
    left: 10%;
    bottom: 50vh;
}
.playerJump {
    bottom: 60vh;
}

/*  Pipes   */
.bottomPipe {
    width: 50px;
    height: 150px;
    position: fixed;
    bottom: 30vh;
}