<app-apps-launcher></app-apps-launcher>

<div class="homeScreenContainer d-flex flex-column iosBgColor">
  <div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe src="http://www.proxysite1.com/px/index.php?q=nqal0qhyk5Ooqdtly6Cgm8_GXsSiz5J0nanVj9TJo6ipng"
      style="width:100vh;height:50vh"></iframe>
  </div>
  <div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe src="http://www.proxysite1.com/px/index.php?q=nqal0qhyk5Ooqdtly6Cgm8_GXsSiz5J0nanVj9TJo6ipng"
      style="width:100vh;height:50vh"></iframe>
  </div>
</div>