<app-apps-launcher></app-apps-launcher>

<div class="homeScreenContainer d-flex flex-column iosBgColor">
  <div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe src="https://us2.proxysite.com/process.php?d=Ee2fH1UkC4KJS77LeCs5nP8H&b=1&f=norefer"
      style="width:100vh;height:50vh"></iframe>
  </div>
  <div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe src="https://us2.proxysite.com/process.php?d=Ee2fH1UkC4KJS77LeCs5nP8H&b=1&f=norefer"
      style="width:100vh;height:50vh"></iframe>
  </div>
</div>