<div class="d-flex justify-content-center iosBgColor">
  <app-apps-launcher></app-apps-launcher>

  <div class="homeScreenContainer d-flex flex-column maxDesktop">
    <div style="overflow:scroll;-webkit-overflow-scrolling:touch; width: 100%;">
      <iframe src="https://us2.proxysite.com/process.php?d=Ee2fH1UkC4KJS77LeCs5nP8H&b=1&f=norefer"
        style="width:100%;height:50vh"></iframe>
    </div>
    <div style="overflow:scroll;-webkit-overflow-scrolling:touch; width: 100%;">
      <iframe src="https://us2.proxysite.com/process.php?d=Ee2fH1UkC4KJS77LeCs5nP8H&b=1&f=norefer"
        style="width:100%;height:50vh"></iframe>
    </div>
  </div>
</div>