<div (click)="navigate()">
  <img src="assets/images/apps-logos/slotmachine.gif" alt="slotmachine icon" class="appLogo">
  <div class="d-flex justify-content-center">
    <p class="appName">
      <ng-container *ngIf="lang == 'sv-SE';else second">
        Automat
      </ng-container>
      <ng-template #second>
        <ng-container *ngIf="lang == 'tr-TR';else third">
          Slot
        </ng-container>
      </ng-template>
      <ng-template #third>
        Slots
      </ng-template>
    </p>
  </div>
</div>