<app-apps-launcher></app-apps-launcher>

<div class="homeScreenContainer" ontouchmove="BlockElasticScroll(event)">
  <ng-container *ngIf="lang == 'sv-SE';else second">
      <div class="li d-flex justify-content-between">
        <p>Version</p>
        <P>Beta</P>
      </div>
  </ng-container>
  <ng-template #second>
    <ng-container *ngIf="lang == 'tr-TR';else third">
        <div class="li d-flex justify-content-between">
          <p>Version</p>
          <P>Beta</P>
        </div>
    </ng-container>
  </ng-template>
  <ng-template #third>
      <div class="li d-flex justify-content-between">
        <p>Version</p>
        <P>Routing test 3</P>
      </div>
  </ng-template>
</div>