<div class="d-flex justify-content-center iosBgColor">
  <app-apps-launcher></app-apps-launcher>

  <div class="homeScreenContainer maxDesktop">
    <li class="iosStyleListItem d-flex justify-content-between">
      <p (click)="navigate('settings')"><i class="fas fa-chevron-left"></i>Back</p>
      <P></P>
    </li>
    
    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Version</p>
      <P>AuthFix</P>
    </li>

    <li class="iosStyleListItem d-flex justify-content-between">
      <p>User name</p>
      <P>{{user.username}}</P>
    </li>

    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Email</p>
      <P>{{user.email}}</P>
    </li>

    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Cash</p>
      <P><img src="assets/images/apps/flappy/coin.gif">{{user.cash}}</P>
    </li>

    <li class="iosStyleListItem d-flex justify-content-between">
      <p>User created</p>
      <P>{{user.userCreated}}</P>
    </li>

    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Birthdate</p>
      <P>{{user.birthdate}}</P>
    </li>
  </div>
</div>