<app-apps-launcher></app-apps-launcher>

<div class="homeScreenContainer iosBgColor" ontouchmove="BlockElasticScroll(event)">
  <ng-container *ngIf="lang == 'sv-SE';else second">
    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Version</p>
      <P>userSystem</P>
    </li>
  </ng-container>
  <ng-template #second>
    <ng-container *ngIf="lang == 'tr-TR';else third">
      <li class="iosStyleListItem d-flex justify-content-between">
        <p>Version</p>
        <P>userSystem</P>
      </li>
    </ng-container>
  </ng-template>
  <ng-template #third>
    <li class="iosStyleListItem d-flex justify-content-between">
      <p>Version</p>
      <P>userSystem</P>
    </li>
  </ng-template>
</div>