<app-apps-launcher></app-apps-launcher>

<ng-container *ngIf="lang == 'sv-SE';else second">
  <div class="homeScreenContainer d-flex flex-column justify-content-between" ontouchmove="BlockElasticScroll(event)">
    <div class="li" (click)="navigate('wallpaper')">Bakgrund</div>
  </div>
</ng-container>
<ng-template #second>
  <ng-container *ngIf="lang == 'tr-TR';else third">
    <div class="homeScreenContainer d-flex flex-column justify-content-between" ontouchmove="BlockElasticScroll(event)">
      <div class="li" (click)="navigate('wallpaper')">Arkaplan</div>
    </div>
  </ng-container>
</ng-template>
<ng-template #third>
  <div class="homeScreenContainer d-flex flex-column justify-content-between" ontouchmove="BlockElasticScroll(event)">
    <div class="li" (click)="navigate('wallpaper')">Wallpaper</div>
  </div>
</ng-template>