<div (click)="navigate()">
  <img src="assets/images/apps-logos/notes.gif" alt="Notes icon" class="appLogo">

  <div class="d-flex justify-content-center">
    <p class="appName">
      <ng-container *ngIf="lang == 'sv-SE';else second">
        Anteckningar
      </ng-container>
      <ng-template #second>
        <ng-container *ngIf="lang == 'tr-TR';else third">
          Notlar
        </ng-container>
      </ng-template>
      <ng-template #third>
        Notes
      </ng-template>
    </p>
  </div>
</div>