<div (click)="navigate()">
  <img src="assets/images/apps-logos/clock.gif" alt="clock icon" class="appLogo">
  <div class="d-flex justify-content-center">

    <p class="appName">
      <ng-container *ngIf="lang == 'sv-SE';else second">
        Klocka
      </ng-container>
      <ng-template #second>
        <ng-container *ngIf="lang == 'tr-TR';else third">
          Saat
        </ng-container>
      </ng-template>
      <ng-template #third>
        Clock
      </ng-template>
    </p>
  </div>
</div>