<app-apps-launcher></app-apps-launcher>

<div class="d-flex justify-content-between flex-column vh-100-height container">
  <!--  Dealer cards  -->
  <div class="d-flex flex-row">
    <ng-container *ngFor="let card of dealerCards; let i = index">
      <img id="{{i}}" class="card" src="assets/images/apps/blackjack/cards/{{card}}.svg">
    </ng-container>
    <p>{{dealerValue}}</p>
  </div>

  <div>
    <ng-container *ngIf="!gameRunning && !message">
      <button (click)="startNewGame()">Start game</button>
    </ng-container>
    <ng-container *ngIf="!gameRunning && message">
      <button (click)="restartGame()">Restart game</button>
    </ng-container>
    <ng-container *ngIf="gameRunning">
      <button (click)="stand()">Stand</button>
      <button (click)="hit()">Hit</button>
    </ng-container>
    <div>
      <p>{{message}}</p>
    </div>
  </div>

  <!--  Player cards  -->
  <div class="d-flex flex-row mb-5">
    <ng-container *ngFor="let card of playerCards; let i = index">
      <img id="{{i}}" class="card" src="assets/images/apps/blackjack/cards/{{card}}.svg">
    </ng-container>
    <p>{{playerValue}}</p>
  </div>
</div>