<div [ngClass]="{
    'blueviolet': rightColorFinder('blueviolet'),
    'lightslategrey': rightColorFinder('lightslategrey'),
    'yellowgreen': rightColorFinder('yellowgreen'),
    'lightskyblue': rightColorFinder('lightskyblue'),
    'lightcoral': rightColorFinder('lightcoral'),
    'lightpink': rightColorFinder('lightpink'),
    'lightseagreen': rightColorFinder('lightseagreen')
    }" 
    class="homeScreenContainer d-flex justify-content-center"
    ontouchmove="BlockElasticScroll(event)">
    <apps-logos></apps-logos>
    <!--<app-dock></app-dock>-->
</div>