<div (click)="navigate()">
  <img src="assets/images/apps-logos/news.png" alt="news icon" class="appLogo">
  <div class="d-flex justify-content-center">

    <p class="appName">
      <ng-container *ngIf="lang == 'sv-SE';else second">
        Nyheter
      </ng-container>
      <ng-template #second>
        <ng-container *ngIf="lang == 'tr-TR';else third">
          Haberler
        </ng-container>
      </ng-template>
      <ng-template #third>
        News
      </ng-template>
    </p>
  </div>
</div>