<div class="d-flex flex-wrap mt-2">
    <div class="mx-2">
        <app-news-logo></app-news-logo>
    </div>
    <div class="mx-2">
        <app-stocks-logo></app-stocks-logo>
    </div>
    <div class="mx-2">
        <app-settings-logo></app-settings-logo>
    </div>
    <div class="mx-2">
        <app-weather-logo></app-weather-logo>
    </div>
    <div class="mx-2">
        <app-counter-logo></app-counter-logo>
    </div>
    <div class="mx-2">
        <app-clock-logo></app-clock-logo>
    </div>
    <div class="mx-2">
        <app-calculator-logo></app-calculator-logo>
    </div>
    <div class="mx-2">
        <app-card-generator-logo></app-card-generator-logo>
    </div>
    <div class="mx-2">
        <app-slot-logo></app-slot-logo>
    </div>
    <div class="mx-2">
        <app-notes-logo></app-notes-logo>
    </div>

    <ng-container *ngIf="device == 'Desktop'">
        <div class="mx-2">
            <app-tv-logo></app-tv-logo>
        </div>
    </ng-container>
</div>