<div class="pt-3" [ngClass]="{'mw': phoneWidth}">

    <div class="d-flex flex-row justify-content-between">
        <div class="w-25">
            <app-news-logo></app-news-logo>
        </div>
        <div class="w-25">
            <app-stocks-logo></app-stocks-logo>
        </div>
        <div class="w-25">
            <app-settings-logo></app-settings-logo>
        </div>
        <div class="w-25">
            <app-weather-logo></app-weather-logo>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between ">
        <app-counter-logo></app-counter-logo>
        <app-clock-logo></app-clock-logo>
        <app-calculator-logo></app-calculator-logo>
        <app-card-generator-logo></app-card-generator-logo>
    </div>
    <div class="d-flex flex-row justify-content-between ">
        <app-slot-logo></app-slot-logo>
        <app-notes-logo></app-notes-logo>
        <app-cpm-logo></app-cpm-logo>
        <app-dual-web-logo></app-dual-web-logo>
    </div>
    <div class="d-flex flex-row justify-content-between ">
        <app-flappy-logo></app-flappy-logo>
        <app-maps-logo></app-maps-logo>
        <ng-container *ngIf="device == 'Desktop'">
            <app-tv-logo></app-tv-logo>
        </ng-container>
    </div>
</div>