<ng-container *ngIf="isLoaded; else loadingScreen">
  <app-apps-launcher></app-apps-launcher>

  <img src="assets/images/apps/slots/slotBanner.png" alt="slots boot icon" width="100%" height="100%">

  <div class="d-flex justify-content-between mx-5">
    <h1>{{spinner1}}</h1>
    <h1>{{spinner2}}</h1>
    <h1>{{spinner3}}</h1>
  </div>

  <ng-container *ngIf="lang == 'sv-SE';else second">
      <button type="button" class="btn btn-primary w-100" (click)="spin()">Spin</button>
  </ng-container>
  <ng-template #second>
    <ng-container *ngIf="lang == 'tr-TR';else third">
        <button type="button" class="btn btn-primary w-100" (click)="spin()">Spin</button>
    </ng-container>
  </ng-template>
  <ng-template #third>
      <button type="button" class="btn btn-primary w-100" (click)="spin()">Spin</button>
  </ng-template>

  <h1>${{cash}}</h1>
</ng-container>

<ng-template #loadingScreen>
  <img src="assets/images/apps/slots/slotmachine.gif" alt="slots boot icon" width="100%" height="100%">
</ng-template>

