<div class="d-flex justify-content-center vh-100-height">
  <app-apps-launcher></app-apps-launcher>

  <div class="d-flex justify-content-between flex-column maxDesktop w-100">
    <div>
      <h1>{{this.screenNumber}}</h1>
      <h3>{{this.infoScreenNumber}}</h3>
    </div>
    <div>
      <div class="row">
        <div class="col btn btn-primary m-1" (click)="this.addNumber(1)">1</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(2)">2</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(3)">3</div>
      </div>

      <div class="row">
        <div class="col btn btn-primary m-1" (click)="this.addNumber(4)">4</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(5)">5</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(6)">6</div>
      </div>

      <div class="row">
        <div class="col btn btn-primary m-1" (click)="this.addNumber(7)">7</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(8)">8</div>
        <div class="col btn btn-primary m-1" (click)="this.addNumber(9)">9</div>
      </div>

      <div class="row">
        <div class="col btn btn-primary m-1" (click)="this.plus()">+</div>
        <div class="col btn btn-primary m-1" (click)="this.minus()">-</div>
        <div class="col btn btn-primary m-1" (click)="this.divide()">/</div>
        <div class="col btn btn-primary m-1" (click)="this.multiply()">*</div>
      </div>

      <div class="row pb-5">
        <div class="col btn btn-primary m-1" (click)="this.equals()">=</div>
        <div class="col btn btn-primary m-1" (click)="this.reset()">C</div>
      </div>
    </div>
  </div>
</div>