<div class="d-flex justify-content-center iosBgColor">
  <div class="maxDesktop vh-100-height">

    <ng-container *ngIf="newUser;else signInFormTemplate">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="name">Namn</label>
          <input type="text" class="form-control" id="name" placeholder="Namn" formControlName="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" formControlName="gender">
            <option value="gender">Gender</option>
            <option value="boy">Boy</option>
            <option value="girl">Girl</option>
          </select>
        </div>
      </form>
      <button type="button" class="btn btn-primary" (click)="register()">Register</button>
      <button type="button" class="btn btn-secondary ml-3" (click)="newUser = false">Already register</button>
    </ng-container>

    <ng-template #signInFormTemplate>
      <form [formGroup]="signInForm">
        <div class="form-group">
          <label for="signInName">Namn</label>
          <input type="text" class="form-control" id="signInName" placeholder="Namn" formControlName="name">
        </div>
        <div class="form-group">
          <label for="signInPassword">Password</label>
          <input type="password" class="form-control" id="signInPassword" placeholder="Password"
            formControlName="password">
        </div>
      </form>
      <button type="button" class="btn btn-primary" (click)="signIn()">Sign in</button>
      <button type="button" class="btn btn-secondary ml-3" (click)="newUser = true">Register</button>
    </ng-template>
  </div>
</div>