<app-apps-launcher></app-apps-launcher>
<div class="fullScreen d-flex flex-column justify-content-center align-items-center bg-primary">

    <ng-container *ngIf="usernameExist; else usernameAddScreen">
        <ng-container *ngIf="lang == 'sv-SE';else second">
            <h1 class="text-white">Välkommen {{username}}</h1>
            <button type="button" class="btn btn-success" (click)="navigate()">Spela!</button>
        </ng-container>
        <ng-template #second>
            <ng-container *ngIf="lang == 'tr-TR';else third">
                <h1 class="text-white">Hoşgeldiniz {{username}}</h1>
                <button type="button" class="btn btn-success" (click)="navigate()">Oyna!</button>
            </ng-container>
        </ng-template>
        <ng-template #third>
            <h1 class="text-white">Welcome {{username}}</h1>
            <button type="button" class="btn btn-success" (click)="navigate()">Play!</button>
        </ng-template>
        <div class="d-flex">
            <table class="table table-striped bg-success mt-3">
                <thead>
                    <tr>
                        <ng-container *ngIf="lang == 'sv-SE';else second2">
                            <th scope="col">#</th>
                            <th scope="col">Namn</th>
                            <th scope="col">Poäng</th>
                            <th scope="col">Datum</th>
                        </ng-container>
                        <ng-template #second2>
                            <ng-container *ngIf="lang == 'tr-TR';else third2">
                                <th scope="col">#</th>
                                <th scope="col">isim</th>
                                <th scope="col">Puan</th>
                                <th scope="col">Tarih</th>
                            </ng-container>
                        </ng-template>
                        <ng-template #third2>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Score</th>
                            <th scope="col">Date</th>
                        </ng-template>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Scores of scoreBoard; let i = index">
                        <th scope="row">{{i}}</th>
                        <td class="text-white">{{Scores.name}}</td>
                        <td class="text-white"><img src="assets/images/apps/flappy/coin.gif">{{Scores.score}}</td>
                        <td class="text-white">{{Scores.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-template #usernameAddScreen>
        <ng-container *ngIf="lang == 'sv-SE';else second3">
            <form [formGroup]="nameForm">
                <div class="form-group">
                    <label for="name" class="text-white">Namn</label>
                    <input type="text" class="form-control" id="name" placeholder="Namn" formControlName="name">
                </div>
            </form>
            <button type="button" class="btn btn-success" (click)="saveName()">Spara</button>
        </ng-container>
        <ng-template #second3>
            <ng-container *ngIf="lang == 'tr-TR';else third3">
                <form [formGroup]="nameForm">
                    <div class="form-group">
                        <label for="name" class="text-white">isim</label>
                        <input type="text" class="form-control" id="name" placeholder="isim" formControlName="name">
                    </div>
                </form>
                <button type="button" class="btn btn-success" (click)="saveName()">Kaydet</button>
            </ng-container>
        </ng-template>
        <ng-template #third3>
            <form [formGroup]="nameForm">
                <div class="form-group">
                    <label for="name" class="text-white">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
            </form>
            <button type="button" class="btn btn-success" (click)="saveName()">Save</button>
        </ng-template>
    </ng-template>
</div>