/* You can add global styles to this file, and also import other style files */
body {
    -webkit-user-select: none;
 }

.app {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}

.fullScreen {
    height: 100vh;
}

.btn {
    /*  Disables double tap to zoom    */
    touch-action: manipulation;
}

.maxDesktop {
    max-width: 50rem;
}

.vh-100-height {
    height: 100vh;
}