/* You can add global styles to this file, and also import other style files */
body {
    -webkit-user-select: none;
 }

.appLogo {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.appName {
    font-family: 'Great Vibes', cursive;
    color: whitesmoke;
}

.homeButton {
    width: 70px;
    height: 70px;
}

.btn {
    /*  Disables double tap to zoom    */
    touch-action: manipulation;
}

.maxDesktop {
    max-width: 50rem;
    width: 100%;
}

.vh-100-height {
    height: 100vh;
}

.iosBgColor {
    background-color: #f0eff4;
}

.vh-100-width {
    width: 100vh;
}

.iosStyleListItem {
    list-style-type: none;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 8px;
}